@layer utils {
	.prose {
		max-width: 65ch;
		margin-inline: auto;
		margin-block-start: 10vh;
		padding-block-end: 25vh;
		text-align: left;
		text-wrap: pretty;

		> * + * {
			margin-block-start: var(--vertical-spacing);
		}

		ul,
		ol {
			margin-inline-start: 1em;
		}

		table {
			border-collapse: collapse;

			@media (width < 768px) {
				display: block;
				overflow-x: auto;
				text-wrap: nowrap;
			}
		}

		th,
		td {
			padding: 0.5rem 1rem;
			border-bottom: 1px solid --opacity(currentColor, 0.2);
		}

		blockquote {
			border-inline-start: 4px solid var(--color-accent);
			padding-inline-start: 1rem;
		}
	}
}
