@layer components {
	.toast {
		top: var(--page-padding);
		position: absolute;
		inset-inline: 0;
		margin: 0 auto;
		width: fit-content;
	}

	.toast-content {
		font-size: smaller;
		background: --opacity(currentColor, 0.05);
		border: 1px solid --opacity(currentColor, 0.1);
		text-box: trim-both cap alphabetic;
		padding: var(--element-base-padding);
		border-radius: var(--radius-lg);
		corner-shape: squircle;
	}
}
