@layer utils {
	.prose {
		max-width: 65ch;
		margin-inline: auto;
		margin-block-start: 10vh;
		padding-block-end: 25vh;
		text-align: left;
		text-wrap: pretty;

		header {
			margin-block-start: 10vh;
			font-size: x-large;
			text-wrap: balance;
		}

		:not(header) * + * {
			margin-block-start: 2rem;
		}
	}
}
