<!-- Alpine x-data & @htmx:after-swap example -->
<section x-data="{ input: '', dismiss(el) { setTimeout(() => (el.innerHTML = ''), 3000) }}">
	<p>Test the server:</p>
	<form hx-post="/api/submit" hx-target="[hx-toast]" hx-swap="innerHTML">
		<input x-model="input" type="text" name="message" placeholder="Enter a message" />
		<button type="submit" :disabled="!input.length">{ site.home.cta }</button>
	</form>

	<span hx-toast @htmx:after-swap.camel="dismiss($el)" class="toast"></span>

	<style>
		@scope {
			p {
				font-size: smaller;
			}
			form {
				margin-bottom: 1rem;
			}
		}
	</style>
</section>

<script on:client>
	function dismissToast(el) {
		setTimeout(() => (el.innerHTML = ''), 3000)
	}
</script>
