<script on:build>
	// TODO: Detect if props.class exists and automatically add to outer element?
	const { class: className, ...props } = tbd.props
</script>

<header class="{ className }">
	<img src="/favicon.svg" />
	<h1>{ props.title }</h1>
	<p class="subtitle">{ props.subtitle }</p>
</header>

<style>
	img {
		margin-bottom: 1rem;
	}

	header {
		padding: 2rem;
		text-box: trim-both cap alphabetic;
	}

	.subtitle {
		text-wrap-style: pretty;
	}
</style>

<script on:client>
	console.log('[tbd] <header-component> script executed')
</script>
