<script is:build>
	import meta from '@components/meta.html'
	import nav from '@components/nav.html'
	import site from '@content/site.ts'
	const { storageKey, attribute } = site.theme
	const props = Aero.props
</script>

<html lang="en">
	<head>
		<meta-component props />
		<link rel="stylesheet" href="@styles/global.css" />
		<script src="@scripts/index.ts"></script>

		<script props="{ storageKey, attribute }">
			const theme = JSON.parse(localStorage.getItem(storageKey))
			document.documentElement.setAttribute(attribute, theme)
		</script>

		<script>
			import { allCaps } from '@scripts/utils'
			console.debug(allCaps('[aero] plain <script> in <head>'))
		</script>
	</head>

	<body id="custom-target">
		<nav-component>
			<slot name="into-nav" />
		</nav-component>

		<slot />
	</body>
</html>
