@layer reset, root, theme, base, layout, components, utils;

@import 'reset.css';
@import 'colors.css';
@import 'animation.css';
@import 'theme.css';
@import 'toast.css';
@import 'utils.css';

/* prettier-ignore */
/** { outline: 0.1px solid red; } */

@layer base {
	html,
	body {
		height: 100%;
	}

	body {
		--font-family-classical-humanist:
			optima, candara, 'Noto Sans', source-sans-pro, sans-serif;
		color: var(--fg);
		background: var(--bg);
		font-family: var(--font-family-classical-humanist);
		font-size: 18px;
		text-align: center;
		line-height: 1.5;

		display: grid;
		place-content: center;
		overflow-x: hidden;
	}

	header,
	section {
		margin-bottom: 2rem;
	}

	h1 {
		font-weight: 600;
	}

	section,
	form {
		display: grid;
		gap: 0.5rem;
	}

	input,
	button {
		border: none;
		cursor: pointer;
		font-family: monospace;
		text-align: center;
		background: oklch(from var(--fg) l c h / 0.1);
		padding: 1rem 2rem;
		border-radius: 2rem;
		corner-shape: squircle;
		justify-self: center;

		&:focus,
		&:focus-visible {
			outline: 2px solid var(--color-accent);
		}
	}

	button {
		appearance: none;
		color: var(--color-dark);
		transition-property: background, opacity;
		transition-duration: var(--duration-fast);
		outline-offset: 2px;

		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	form button {
		background: var(--color-accent);
	}

	a {
		color: var(--color-accent);
		text-decoration: none;
		transition: color var(--duration-fast);
		&:hover {
			color: var(--fg);
		}
	}
}
