@layer reset, root, theme, base, layout, components, utils;

@import 'reset.css';
@import 'colors.css';
@import 'animation.css';
@import 'theme.css';
@import 'code.css';
@import 'prose.css';
@import 'toast.css';
@import 'utils.css';
/*@import 'debug.css';*/

@layer base {
	html,
	body {
		height: 100%;
	}

	body {
		display: grid;
		place-content: safe center;
		text-align: center;
		color: var(--color-fg);
		background: var(--color-bg);
		font-size: 1rem;
		font-family: system-ui, sans-serif;
		line-height: 1.5;
		padding: 1rem;
	}

	header,
	section {
		margin-bottom: 2rem;
	}

	section,
	form {
		display: grid;
		gap: 0.5rem;
	}

	input,
	button {
		text-align: center;
		background: --currentAlpha(0.05);
		border: 1px solid --currentAlpha(0.1);
		padding: 1rem 2rem;
		border-radius: 2rem;
		corner-shape: squircle;
		justify-self: center;

		&:focus,
		&:focus-visible {
			outline: 2px solid var(--color-accent);
		}
	}

	button {
		color: var(--color-dark);
		transition-property: background, opacity;
		transition-duration: var(--duration-fast);
		outline-offset: 2px;

		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	form button {
		background: var(--color-accent);
	}

	a {
		text-decoration: none;
		color: var(--color-accent);
		transition: color var(--duration-fast);

		&:hover {
			color: var(--color-fg);
		}
	}

	hr {
		border: none;
		border-top: 1px solid --currentAlpha(0.3);
		margin: 2rem 0;
	}
}
