<script is:build lang="ts">
	import logo from '@components/logo'
	const isHomepage = Aero.url.pathname === '/'

	export interface HeaderProps {
		title: string
		subtitle?: string
		requiredProp: boolean
	}

	const props = Aero.props as HeaderProps
</script>

<header>
	<logo-component if="{ isHomepage }" class="logo" />
	<h1 else-if="{ props.title }">{ props.title }</h1>
	<h2 else>Fallback Title</h2>

	<p class="subtitle secondary">{ props.subtitle }</p>

	<!-- Overrides global styles -->
	<style>
		@scope {
			:scope {
				background: none;
			}

			.logo {
				width: 300px;
				margin-bottom: 1rem;
			}

			.subtitle {
				max-width: 45ch;
				text-wrap: pretty;
			}
		}
	</style>
</header>

<!-- Global styles -->
<style>
	header {
		background: red;
	}
</style>

<script props="{ isHomepage }">
	import { allCaps } from '@scripts/utils/transform'
	// This comment will get stripped from build output
	console.debug(allCaps('[aero]'), 'isHomepage', isHomepage)
</script>

<script is:inline props="{ isHomepage }">
	console.debug('[aero] isHomepage', isHomepage)
</script>
