@layer components {
	.toast {
		top: 1rem;
		position: absolute;
		inset-inline: 0;
		margin: 0 auto;
		width: fit-content;
	}

	.toast-content {
		font-size: smaller;
		border-radius: 0.5rem;
		padding: 0.75rem;
		text-box: trim-both cap alphabetic;
		border: 1px solid --currentAlpha(0.1);
		background: --currentAlpha(0.05);
	}
}
