@layer utils {
	.debug,
	.debug * {
		outline: 1px solid red;
	}

	.secondary {
		color: --currentAlpha(0.5);
	}

	.card {
		display: block;
		padding: 2rem;
		border-radius: 0.5rem;
		background: --currentAlpha(0.03);
		border: 1px solid --currentAlpha(0.1);
	}
}
