@layer root {
	@view-transition {
		navigation: auto;
	}

	:root {
		--duration-fast: 150ms;
		--duration-medium: 300ms;
		--duration-slow: 500ms;
		--duration-glacial: 1s;

		--ease-in-out-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
		--ease-in-out-quadratic: cubic-bezier(0.77, 0, 0.175, 1);
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes slide-up {
		from {
			transform: translateY(1rem);
		}
	}
}
