<script is:build>
	import type { HeaderProps } from '@client/types/props'
	import logo from '@components/logo'

	const props = Aero.props as HeaderProps
	const isHomepage = Aero.page.routePath === '/'
	const isCounterDemo = Aero.page.routePath === '/demos/counter'
</script>

<script is:state>
	const { count = 0 } = Aero.props
</script>

<header>
	<logo-component if="{ isHomepage }" class="logo" />
	<h2 else-if="{ isCounterDemo }">Live prop: <span>{ count }</span></h2>
	<h1 else-if="{ props.title }">{ props.title }</h1>
	<h2 else>Fallback Title</h2>

	<p class="subtitle secondary">{ props.subtitle }</p>

	<!-- Overrides global styles -->
	<style>
		@scope {
			:scope {
				background: none;
			}

			.logo {
				width: 300px;
				margin-bottom: 1rem;
			}

			.subtitle {
				max-width: 45ch;
				text-wrap: pretty;
			}
		}
	</style>
</header>

<!-- Global styles -->
<style>
	header {
		background: red;
	}
</style>

<script props="{ isHomepage }">
	import { allCaps } from '@scripts/utils/transform'
	console.debug(allCaps('[aero]'), 'isHomepage', isHomepage)
</script>

<script is:inline props="{ isHomepage }">
	console.debug('[aero] isHomepage', isHomepage)
</script>
