<script is:state>
	import type { NumericText } from '@numeric-text/core'
	import { wireNumericText } from '@scripts/numeric-text.ts'

	const {
		value = Aero.bindable(0),
		animated = true,
		trend = 0,
		respectMotionPreference = true,
	} = Aero.props

	let el: NumericText | null = null
	let isMounted = false

	$effect(() => {
		if (!el) el = document.querySelector('numeric-text')
		wireNumericText(el, {
			value,
			animated,
			trend,
			respectMotionPreference,
			isMounted: () => isMounted,
		})
		if (!isMounted) isMounted = true
	})
</script>

<numeric-text />
