<script is:build>
	const { classes } = Aero.props
</script>

<script is:state>
	import type { NumericText } from '@numeric-text/core'
	import { wireNumericText } from '@scripts/numeric-text'

	const {
		value = Aero.bindable(0),
		animated = true,
		trend = 0,
		respectMotionPreference = true,
	} = Aero.props

	let el: NumericText | null = null
	let isMounted = false

	$effect(() => {
		if (!el) el = $root.querySelector('numeric-text')
		addStyle(el)
		wireNumericText(el, {
			value,
			animated,
			trend,
			respectMotionPreference,
			isMounted: () => isMounted,
		})
		if (!isMounted) isMounted = true
	})

	const addStyle = (el: NumericText | null) => {
		const shadowRoot = el?.shadowRoot
		if (shadowRoot && !shadowRoot.querySelector('style[data-aero-style]')) {
			const style = document.createElement('style')
			style.dataset.aeroStyle = ''
			style.textContent = `.char { text-box: trim-both cap alphabetic; }`
			shadowRoot.appendChild(style)
		}
	}
</script>

<numeric-text class="{ classes }" />
