@layer base {
	code:not(pre code),
	pre:has(code) {
		--tab-size: 2ch;
		--padding: 2rem;
		--line-height: 1.8;
		--outline: 1px solid --opacity(var(--color-fg), 0.2);

		font-size: smaller;
		font-family: var(--font-mono);
		tab-size: var(--tab-size);
		border: var(--outline);
	}

	/* Inline code */
	code:not(pre code) {
		padding: 0.1em 0.4em 0.2em;
		color: --opacity(currentColor, 0.7);

		border-radius: var(--radius-sm);

		@media (width > 768px) {
			text-wrap: nowrap;
		}
	}

	/* Code blocks */
	pre:has(code) {
		display: grid;
		overflow: hidden;
		border-radius: var(--radius-lg);
		corner-shape: squircle;

		code {
			line-height: var(--line-height);
			text-box: trim-both ex alphabetic;
			padding: var(--padding);
			scrollbar-width: none;
			overflow-y: hidden;
			overflow-x: auto;
		}
	}

	/* Language labels */
	pre:has(code) {
		&[data-lang] {
			position: relative;

			&::before {
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
				text-box: trim-both cap alphabetic;
				font-family: var(--font-sans);
				font-size: small;
			}
		}

		&[data-lang]::before {
			content: attr(data-lang);
		}
	}
}
