@theme {
	--code-light-bg: --opacity(var(--color-dark), 0.05);
	--code-dark-bg: oklch(from var(--color-dark) 0.1 c h);
	--code-bg: light-dark(var(--code-light-bg), var(--code-dark-bg));
	--code-comment: var(--color-slate-500);
	--code-highlight: --opacity(var(--color-green-500), 0.2);

	--tab-size: 2ch;
	--padding: var(--box-padding);
	--line-height: 1.6;
	--code-border: --opacity(currentColor, 0.2);
}

@layer components {
	/* Italic comments via @shared/shiki/with-italics */
	pre.shiki span {
		font-style: var(--shiki-dark-font-style);
		font-style: var(--shiki-light-font-style);
	}

	/* Base code styles */
	code {
		tab-size: var(--tab-size);
		font-family: var(--font-mono);
		font-size: smaller;
	}

	/* Add a border to both inline and block code */
	code:not(pre code),
	pre:has(code) {
		border: 1px solid var(--code-border);
		/* Only apply background if not inside a shiki block */
		&:not(.shiki &) {
			background: var(--code-bg) !important;
		}
	}

	/* Inline code */
	code:not(pre code) {
		padding: 0.1em 0.4em 0.2em;
		border-radius: var(--radius-sm);
	}

	/* Block code */
	pre:has(code) {
		display: grid;
		overflow: hidden;
		border-radius: var(--radius-2xl);
		corner-shape: squircle;
	}

	/* Code inside block pre */
	pre:has(code) code {
		line-height: var(--line-height);
		padding: var(--padding);
		overflow-x: auto;
	}

	/* Add font features to inline code and block code */
	pre:has(code),
	pre:has(code) code,
	code:not(pre code) {
		font-feature-settings:
			'calt' 1,
			'liga' 1,
			'ss01' 1,
			'ss02' 1,
			'ss03' 1,
			'ss04' 1,
			'ss05' 1,
			'ss06' 1,
			'ss07' 1,
			'ss08' 1,
			'ss09' 1,
			'ss10' 1;
	}

	/* Block code with language label */
	pre:has(code)[data-lang] {
		position: relative;
	}

	/* Language label */
	pre:has(code)[data-lang]::before {
		content: attr(data-lang);
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		font-family: var(--font-sans);
		font-size: small;
		text-box-trim: trim-both;
		opacity: 0.5;
	}

	/* Code inside block pre with highlighted lines */
	pre:has(code).has-highlighted code {
		padding-inline: 0;
		> span {
			padding-inline: var(--padding);
		}
	}

	/* Highlighted lines */
	.line.highlighted {
		background: var(--code-highlight);
		display: inline-flex;
		min-width: 100%;
	}
}
