@layer root {
	:root {
		--color-light: var(--color-white);
		--color-dark: var(--color-gray-950);
		--color-accent: light-dark(var(--color-teal-500), var(--color-teal-300));
		--color-fg: light-dark(var(--color-dark), var(--color-light));
		--color-bg: light-dark(var(--color-light), var(--color-dark));
	}

	@function --opacity(--color, --alpha) {
		result: oklch(from var(--color) l c h / var(--alpha));
	}
}
