@layer base {
	form {
		display: grid;
		gap: calc(var(--vertical-spacing) / 4);
		max-inline-size: 20rem;
	}

	fieldset {
		padding: var(--element-base-padding);
		border: 1px solid --opacity(currentColor, 0.1);
		border-radius: var(--radius-xl);
		corner-shape: squircle;
	}

	label {
		cursor: pointer;
		text-align: start;
		font-size: smaller;
	}

	input:not([type='checkbox']):not([type='radio']),
	select,
	textarea,
	button {
		font-family: var(--font-sans);
	}

	input:not([type='checkbox']):not([type='radio']),
	select,
	textarea {
		background: --opacity(currentColor, 0.05);
		border: 1px solid --opacity(currentColor, 0.1);
		padding: var(--element-base-padding);
		border-radius: var(--radius-xl);
		corner-shape: squircle;
		text-align: start;
	}

	form input:not([type='checkbox']):not([type='radio']),
	form select,
	form textarea,
	form button {
		justify-self: center;
	}

	select {
		appearance: none;
		cursor: pointer;
	}

	textarea {
		resize: vertical;
		min-block-size: calc(var(--element-base-padding) * 4);
		line-height: inherit;
	}

	option {
		background: var(--color-bg);
		color: var(--color-fg);
	}

	input[type='checkbox'],
	input[type='radio'] {
		appearance: auto;
		accent-color: var(--color-accent);
		inline-size: 1.125rem;
		block-size: 1.125rem;
		cursor: pointer;
		flex-shrink: 0;
	}

	button {
		text-align: center;
		background: --opacity(currentColor, 0.05);
		border: 1px solid --opacity(currentColor, 0.1);
		padding: var(--element-base-padding);
		border-radius: var(--radius-xl);
		corner-shape: squircle;
		user-select: none;
		justify-self: center;
		transition-property: background, color, opacity;
		transition-duration: var(--duration-medium);

		&:hover,
		&:active {
			color: contrast-color(var(--color-fg));
			background: var(--color-fg);
		}

		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	form button {
		color: var(--color-bg);
		background: var(--color-fg);
	}
}
