@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'base.css';
@import 'code.css';

@theme {
	--font-sans: system-ui, sans-serif;
	--font-mono: 'MonaspaceNeadon', monospace;
	--font-size: 18px;
	--line-height: 1.5;
	--color-light: var(--color-white);
	--color-dark: var(--color-gray-950);
	--color-accent: light-dark(var(--color-sky-500), var(--color-sky-400));
	--color-text: light-dark(var(--color-dark), var(--color-light));
	--color-bg: light-dark(var(--color-light), var(--color-dark));
	--color-border: --opacity(currentColor, 0.1);
	--nav-height: 5rem;
	--page-padding: 5vw;
	--box-padding: 1.5rem;
	--box-radius: var(--radius-2xl);
}

:root {
	&[data-theme='system'] {
		color-scheme: light dark;
	}

	&[data-theme='light'] {
		color-scheme: light only;
	}

	&[data-theme='dark'] {
		color-scheme: dark only;
	}

	&::view-transition {
		pointer-events: none;
	}
}

@function --opacity(--color, --alpha) {
	result: oklch(from var(--color) l c h / var(--alpha));
}

@font-face {
	font-family: 'MonaspaceNeadon';
	src: url('/fonts/MonaspaceNeadon-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MonaspaceNeadon';
	src: url('/fonts/MonaspaceNeadon-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@view-transition {
	navigation: auto;
}

/* Disable Tailwind prose backticks around inline code */
@utility prose {
	code:not(pre code)::before,
	code:not(pre code)::after {
		content: '';
	}
}

/* Alternative to `dark:prose-invert` that works with user-defined themes */
@custom-variant prose-dark {
	&:where([data-theme='dark'], [data-theme='dark'] *) {
		@slot;
	}

	@media (prefers-color-scheme: dark) {
		&:where([data-theme='system'], [data-theme='system'] *) {
			@slot;
		}
	}
}

@layer components {
	.card {
		box-shadow: inset 0 0 0 1px var(--color-border);
		border-radius: var(--box-radius);
		padding: var(--box-padding);
		corner-shape: squircle;
	}
}

@utility debug {
	* &,
	* {
		box-shadow: inset 0 0 0 1px --opacity(red, 0.5);
	}
}
