@layer reset, root, theme, base, layout, components, utils;

@import 'tailwindcss';
@import 'colors.css';
@import 'fonts.css';
@import 'animation.css';
@import 'theme.css';
@import 'code.css';
@import 'prose.css';
@import 'utils.css';
/*@import 'debug.css';*/

@utility trim-cap {
	text-box: trim-both cap alphabetic;
}

@layer base {
	:root {
		--font-sans: system-ui, sans-serif;
		--font-mono: 'MonaspaceNeadon', monospace;
	}

	html,
	body {
		height: 100%;
		font-size: 18px;
		line-height: 1.5;
	}

	body {
		color: var(--color-fg);
		background: var(--color-bg);
		font-family: var(--font-sans);
	}

	a {
		text-decoration: underline;
		transition: color var(--duration-fast);

		&:hover {
			color: var(--color-accent);
		}
	}

	hr {
		border: none;
		border-top: 1px solid --opacity(currentColor, 0.3);
		margin: var(--vertical-spacing) 0;
	}

	:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-accent);
	}
}
