@layer reset, root, theme, base, layout, components, utils;

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'prose.css';
@import 'code.css';

@theme {
	--font-sans: system-ui, sans-serif;
	--font-mono: 'MonaspaceNeadon', monospace;
	--color-light: var(--color-white);
	--color-dark: var(--color-gray-950);
	--color-accent: light-dark(var(--color-sky-500), var(--color-sky-400));
	--color-text: light-dark(var(--color-dark), var(--color-light));
	--color-bg: light-dark(var(--color-light), var(--color-dark));
	--color-border: --opacity(currentColor, 0.3);
	--code-light-bg: --opacity(currentColor, 0.05);

	--page-padding: 5vw;
	--nav-height: 5rem;
}

@font-face {
	font-family: 'MonaspaceNeadon';
	src: url('/fonts/MonaspaceNeadon-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MonaspaceNeadon';
	src: url('/fonts/MonaspaceNeadon-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@view-transition {
	navigation: auto;
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(2em);
	}
}

@keyframes slide-out {
	to {
		opacity: 0;
		transform: translateX(-2em);
	}
}

:root {
	&[data-theme='system'] {
		color-scheme: light dark;
	}

	&[data-theme='light'] {
		color-scheme: light only;
	}

	&[data-theme='dark'] {
		color-scheme: dark only;
	}

	&::view-transition {
		pointer-events: none;
	}
}

@layer base {
	html,
	body {
		height: 100%;
		font-size: 18px;
		line-height: 1.5;
	}

	body {
		color: var(--color-text);
		background: var(--color-bg);
		font-family: var(--font-sans);
		padding: var(--page-padding);
		padding-top: calc(var(--nav-height) + var(--page-padding));
	}

	a {
		text-decoration: underline;
		transition: color 200ms;

		&:hover {
			color: var(--color-accent);
		}

		&.back::before {
			content: '←';
			display: inline-block;
			vertical-align: middle;
			margin-inline-end: 0.5ch;
		}

		&[target='_blank']::after {
			content: '↗';
			display: inline-block;
			vertical-align: middle;
			margin-inline-start: 0.5ch;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='tel'],
	input[type='url'],
	input[type='search'],
	input[type='submit'],
	input[type='button'],
	input[type='reset'],
	select,
	textarea,
	button,
	form,
	fieldset {
		@apply inline-block text-sm p-4;
		box-shadow: inset 0 0 0 1px --opacity(var(--color-text), 0.1);
		border-radius: var(--radius-3xl);
		corner-shape: squircle;
	}

	button,
	input[type='submit'],
	input[type='button'],
	input[type='reset'] {
		background: --opacity(var(--color-text), 0.05);
		transition-property: opacity, background, color;
		transition-duration: 200ms;
		cursor: pointer;

		&:hover {
			background-color: --opacity(var(--color-text), 0.1);
		}

		&:active:not(:disabled) {
			background: --opacity(var(--color-text), 0.3);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	:focus-visible {
		outline: 2px solid var(--color-accent);
	}
}

@layer components {
	.card {
		box-shadow: inset 0 0 0 1px --opacity(var(--color-text), 0.1);
		border-radius: var(--radius-3xl);
		corner-shape: squircle;
		padding: 2rem;
	}
}

@utility debug {
	* &,
	* {
		box-shadow: 0 0 0 1px --opacity(red, 0.5) inset;
	}
}

@function --opacity(--color, --alpha) {
	result: oklch(from var(--color) l c h / var(--alpha));
}
