@layer utils {
	.debug,
	.debug * {
		outline: 1px solid red;
	}

	.secondary {
		color: --opacity(currentColor, 0.5);
	}

	.h-stack {
		display: flex;
		flex-direction: row;
		gap: var(--stack-gap, 1rem);
	}

	.v-stack {
		display: flex;
		flex-direction: column;
		gap: var(--stack-gap, 1rem);
	}

	.z-stack {
		display: grid;
		grid-template-areas: 'zstack';

		> * {
			grid-area: zstack;
		}
	}

	.items-center {
		align-items: center;
	}
}
